<div class="body">
  <!-- <div class="head">
    <input
      class="inputs"
      placeholder="iteams"
      [(ngModel)]="totalItems"
      type="text"
    />
    <input
      class="inputs"
      placeholder="row"
      [(ngModel)]="totalRow"
      type="text"
    />
    <input
      class="inputs"
      placeholder="column"
      [(ngModel)]="totalColumns"
      type="text"
    />

    <button (click)="calculate()" class="calculate-btn">calculate</button>
  </div> -->
  <div class="main-body">
    <div class="item" *ngFor="let product of products; let i = index">
      <!-- <div class="crate" *ngFor="let crate of totalCrate"> -->
      <div class="inputs-container">
        <input
          class="inputs"
          placeholder="iteams"
          [(ngModel)]="product.totalItems"
          type="text"
        />
        <input
          class="inputs"
          placeholder="row"
          [(ngModel)]="product.totalRow"
          type="text"
        />
        <input
          class="inputs"
          placeholder="column"
          [(ngModel)]="product.totalColumns"
          type="text"
        />

        <button (click)="calculate(i)" class="calculate-btn">calculate</button>

        <div *ngIf="product.value.length > 0" class="text-count">
          <span style="color: white">
            Filled Items : {{ product.totalItems }}
          </span>

          <span style="color: white">
            Total Box : {{ product.value.length }}
          </span>

          <span style="color: white">
            Remaining Items :
            {{ product?.value?.length! - product?.totalItems! }}
          </span>
        </div>
      </div>
      <div
        [style.width]="product.width"
        [style.height]="product.height"
        *ngFor="
          let crate of [].constructor(product.totalCrate);
          let last = last
        "
        class="crate"
        [ngClass]="{ 'flex-rotate': last }"
      >
        <ng-template [ngIf]="!last">
          <div
            [ngClass]="{ 'flex-reverse': last }"
            class="col-data"
            *ngFor="let value of product.value; let i = index"
          >
            <span>{{ value }}</span>
          </div>
        </ng-template>
        <ng-template [ngIf]="last">
          <div
            [ngClass]="{ 'flex-reverse': last }"
            class="col-data"
            *ngFor="let value of product.value.reverse(); let i = index"
          >
            <span>{{ value }}</span>
          </div>
        </ng-template>
      </div>
    </div>

    <!-- <div class="crate">
        <div class="row-data" *ngFor="let tr of product.row; let i = index">
          <div class="col-data" *ngFor="let td of product.col; let j = index">
            <span
              *ngIf="
                i * product.col.length + j < products[productCount].lastCrate
              "
              >{{ i * product.col.length + j }}</span
            >
          </div>
        </div>
      </div> -->
    <!-- </div> -->
  </div>
  <div class="add-btn" (click)="createCrate()"><h1>+</h1></div>
</div>
